<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <Properties>-->
<!--        <Property name="LOGS_HOME" value="D:\mycode\logs"/>-->
<!--    </Properties>-->
<!--    <Properties>-->
<!--    &lt;!&ndash; 配置日志文件输出目录 ${sys:user.home} &ndash;&gt;-->
<!--    <Property name="LOG_HOME">../logs</Property>-->
<!--&lt;!&ndash;    <property name="ERROR_LOG_FILE_NAME">/root/workspace/lucenedemo/logs/error</property>&ndash;&gt;-->
<!--&lt;!&ndash;    <property name="WARN_LOG_FILE_NAME">/root/workspace/lucenedemo/logs/warn</property>&ndash;&gt;-->

<!--&lt;!&ndash;    <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%L] %-5level %logger{36} - %msg%n</property>&ndash;&gt;-->
<!--    </Properties>-->
    <springProperty scope="context" name="LOG_HOME" source="LOG_HOME"/>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %-5level %logger{50} - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>